@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
} */
* {
  margin: 0;
  padding: 0;
}
ol {
  padding: 0 1rem;
  list-style-position: outside; /* Указывает, что маркеры/нумерация должны отображаться внутри элемента списка */
  list-style-type: decimal; /* Указывает, что нумерация для ol и маркеры для ul должны отображаться */
  margin: 0; /* Убеждается, что нет внешних отступов, которые могут скрыть маркеры/нумерацию */
}

.ProseMirror {
  padding: 10px;
  /* border: 1px solid #ee5; */
  @apply border border-accent;
  border-radius: 4px;
  outline: none;
}

code {
  @apply bg-base-300;
}

ul,
ul:not([data-type='heading']) {
  padding-left: 5px;
}
ul li {
  display: flex;
  gap: 4px;
  position: relative;
}
ul:not([data-type='taskList']):not([data-type='heading']) li {
  padding-left: 18px;
}

li::marker {
  @apply text-accent;
}

ul:not([data-type='heading']) li::before {
  content: '';
  display: inline-block;
  width: 8px;
  border-radius: 50%;
  height: 8px;
  @apply bg-accent;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

h1 {
  font-size: 31px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}

ul[data-type='taskList'] li::before {
  display: none;
  margin: 0;
}

blockquote {
  @apply pl-3;
  @apply my-3;
  @apply ml-8;
  @apply border-l-2 border-accent;
}
